<div class="logo_full">
	
</div>
<div class="menu">
	<a ui-sref="intro">Intro</a>
	<a ui-sref="genkey">Get Key</a>
	<a ui-sref="api">API</a>
	<a ui-sref="contact">Contact</a>
</div>
<div style="clear:both;"> </div>
<div ui-view></div>

<div class="footer">copyright@2014 www.nexusguard.com</div>