<!DOCTYPE html>
<html ng-app="morningbird" >
  <head>
    <title><%= title %></title>
	<link href="./css/style.css" rel="stylesheet" type="text/css" />
	<script src="./libs/angular/angular.js"></script>
	<script src="./libs/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="./angular/app.js"></script>
	<script src="./angular/controller/getkey.js"></script>
	<script src="./angular/controller/contact.js"></script>
	<script src="./angular/service/DataAPI.js"></script>
	<script src="./angular/service/GenKey.js"></script>
	<script src="./angular/service/MorningBird.js"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>